<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DBPlayersPhotoDirPath" value="/DB/PlayersPhoto/" />
    <add key="DBPlayersInfoPath" value="/DB/TextFiles/PlayersInfo.txt" />
    <add key="DBTeamsInfoPath" value="/DB/TextFiles/TeamsInfo.txt" />
    <add key="DBGamesInfoPath" value="/DB/TextFiles/GamesInfo.txt" />
    <add key="DBFile" value="/DB/database.db" />
    <add key="Slogans" value="/DB/TextFiles/Slogans.txt" />
    <add key="Descr" value="/DB/TextFiles/Descr.txt" />
  </appSettings>
</configuration>